<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :album_title %>
    <%= form.text_field :album_title %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist %>
  </div>

  <div class="field">
    <%= form.label :year_released %>
    <%= form.text_field :year_released %>
  </div>

  <div class="field">
    <%= form.label :cover_image_url %>
    <%= form.text_field :cover_image_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
