<p id="notice"><%= notice %></p>

<h1>Album Collection</h1>

<table>
  <thead>
    <tr>
      <th>Album title</th>
      <th>Artist</th>
      <th>Year released</th>
      <th>Cover</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.album_title %></td>
        <td><%= album.artist %></td>
        <td><%= album.year_released %></td>
        <td><%= link_to image_tag(album.cover_image_url, width:"100px"), album %></td>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
<%= @hostname %>
